@model ClientAuth.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.CPF, new { placeholder = "CPF" })
            @Html.TextBoxFor(model => model.Senha, new { placeholder = "Senha" })

            <input type="submit" value="Login" id="btnLogar" />
            <p id="result">   @ViewBag.Result</p>
        }
    </div>
</body>
</html>
